.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #5b3034;
    height: 25vh;
}

.paper {
    background: transparent;
    color: black;
}

.head{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.soc{
    font-size: 14px;
    font-weight: 200;
    color: white;
}