body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.3s
}
a:hover {
    text-decoration: none;
    color: black;
}
.header-wrapper {
    position: relative;
    background-color: #5b3034;
    height: 89px;
}
.header {
    overflow: hidden;
    background-color: #5b3034;
    padding: 20px 10px;
    min-height: 49px;
}

.menu-component {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-user {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-user:hover {
    cursor: auto;
}
.header a.logo {
    font-size: 20px;
    font-weight: bold;
    }

.menu-component:hover {
    color: black;
}

.menu-component.active {
    color: white;
}

.header-right {
    float: right;
}

#header-calendar {
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    height: 0px;
}

.react-calendar {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
