body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.3s
}
a:hover {
    text-decoration: none;
    color: black;
}
.header-wrapper {
    position: relative;
    background-color: #5b3034;
    height: 16vh;
}
.header {
    overflow: hidden;
    background-color: #5b3034;
    padding: 20px 10px;
}

.menu-component {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 6vh;
    border-radius: 4px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-user {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 6vh;
    border-radius: 4px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-item {
    color: black;
    font-size:  14px;
}

.menu-item:hover {
    color: #5b3034
}
.menu-user:hover {
    cursor: pointer;
    color: white;
}
.header a.logo {
    font-size: 20px;
    font-weight: bold;
    }

.header a.acc {
    color: white;
}

.pagename {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    cursor: auto;
    font-size: 23px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-component:hover {
    color: black;
}

.menu-component.active {
    color: white;
}

.header-right {
    float: right;
}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
