/*@import "./components/test.css";*/

.content {
    min-height: 59vh;
    background-color: #faf4f4;
    min-width: 50%;
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
